:root {
    --brand-gold: #FFBC0D;
    --brand-red: #DB0007;
    --brand-kraft: #B69A81;
    --brand-gray: #F7F7F7;
    --brand-charcoal: #2D2D2D;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--brand-gold);
    font-family: 'Roboto', sans-serif;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    color: var(--brand-red);
    font-weight: 900;
    font-size: 5rem;
    margin-top: 6rem;
    margin-bottom: -2rem;
}

.image {
    width: 400px;
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.836));
}

.converter-container {
    background-color: var(--brand-red);
    color: var(--brand-gray);
    font-weight: 900;
    width: 450px;
    border-radius: 20px;
    padding: 2rem;
    margin: 0 auto;
}

.converter {
    font-size: 1.rem;
    margin-bottom: 1rem;
}

input[type="text"] {
    width: 250px;
    height: 40px;
    font-size: 1.5rem;
    border: none;
}

select {
    border: none;
}

.button {
    width: 24rem;
    height: auto;
    background-color: var(--brand-gold);
    font-size: 2rem;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.result {
    color: var(--brand-red);
    font-weight: 900;
    font-size: 3rem;
}

.footer-container{
    background-color: var(--brand-red);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: var(--brand-gray);
    font-weight: 900;
}

.icon {
    width: 30px;
    height: 28px;
    padding-left: 5px;
}