:root {
    --brand-gold: #FFBC0D;
    --brand-red: #DB0007;
    --brand-kraft: #B69A81;
    --brand-gray: #F7F7F7;
    --brand-charcoal: #2D2D2D;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--brand-gold);
    font-family: 'Roboto', sans-serif;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title,
.sub {
    color: var(--brand-red);
    font-weight: 900;
}

.title {
    font-size: 5rem;
    margin-top: -1.5rem;
    margin-bottom: -6rem;
}

.sub {
    margin-top: 4.5rem;
}

.image-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.image {
    width: 400px;
    position: relative;
    z-index: 3;
    margin-bottom: -3rem;
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.644));
    animation: bob 3s ease-in-out infinite;
}

.converter-container {
    background-color: var(--brand-red);
    color: var(--brand-gray);
    font-weight: 900;
    width: 350px;
    border-radius: 20px;
    padding: 3rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.converter {
    margin-bottom: rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.converter input,
.converter select {
    height: 50px;
    border: none;
    padding: 0 1rem;
    font-weight: bold;
}

.converter select {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    background-color: white;
    cursor: pointer;
}

.converter input[type="text"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70%;
    font-size: 1.5rem;
    border: none;
}

.button {
    margin-top: 1.3rem;
    width: 22rem;
    height: auto;
    background-color: var(--brand-gold);
    font-size: 1.4rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result-container {
    border: 5px solid var(--brand-red);
    border-style: dashed;
    width: 350px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    min-height: 8rem;
    padding-bottom: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    word-break: break-word;
    overflow-x: hidden;
}

.result-container.show {
    opacity: 1;
    visibility: visible;
}

.can,
.result {
    color: var(--brand-red);
    font-weight: 900;
}

.can {
    font-size: 1.3rem;
    margin-bottom: -2.8rem;
}

.hidden {
    display: none;
}

.result {
    font-size: 3rem;
    min-height: 3.5rem;
    transition: opacity 0.1s ease;
    opacity: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    margin-bottom: -0.2rem;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--brand-red);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: var(--brand-gray);
    font-weight: 900;
    z-index: 99;
}

.icon {
    width: 30px;
    height: 28px;
    padding-left: 5px;
}

@keyframes bob {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(+10px);
    }
  }